body { font-family: sans-serif; }

#chart-holder {
  width: 1200px;
  height: 750px;
  position: relative;
  background-color: #cfcfcf;
}

#chart-holder svg {
  width: 100%;
  height: 100%;
}



#map {
  position: absolute;
  background: azure;
  top: 0px;
  width: 700px;
  height: 350px;
  border-top: 2px dashed gray;
  border-left: 2px dashed gray;

}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #ddd;
}

.boundary {
  fill:none;
  stroke: #fff;
  stroke-width: .5px;
}

.country {
  fill: rgb(175, 195, 186);
}
.country.active {
  fill: rgb(155, 175, 166);
}

.centroid {
  fill: red;
  fill-opacity: 0.3;
  /*pointer-events:none;*/
}
.centroid:active {
  fill:goldenrod;
  fill-opacity: 0.6;
}

#map-tooltip {
  position: absolute;
  pointer-events: none;
  color: #eee;
  font-size: 12px;
  opacity: 0.7;
  background: #222;
  border: 2px solid #fff;
  border-color: goldenrod;
  padding: 0px 20px;
  left: -999px;
  text-align: center;
  margin: 0px;
}


#bar {
  position: absolute;
  background: azure;
  left: 700px;
  width: 500px;
  height: 600px;
  border-left: 2px dashed gray;
  border-bottom: 2px dashed gray;
  border-top: 2px dashed gray;
  border-right: 2px dashed gray;
}

.bar.active { fill:goldenrod; }
.bar { fill: steelblue; }
.bar:hover { fill: brown; }

.axis { font: 10px sans-serif; }

.axis-label{ }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path { display: none; }
#y-axis-label { font-size: 11px }




#timeline{
  background: azure;
  position:absolute;
  border-top: 2px dashed gray;
  border-left: 2px dashed gray;
  border-bottom: 2px dashed gray;
  top:350px;
  left:0px;
  height:250px;
  width:700px;
}