body { 
  color: #434343;
 }


#chart-holder svg {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
}

@import 'component/og_co_bar';
@import 'component/og_co_map';
@import 'component/og_co_menu';
@import 'component/og_co_bio';
@import 'component/og_co_timeline';









