<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Largest oil and gas companies by revenue</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="static/css/app.css" type="" media="screen" />

<!-- Social: Facebook / Open Graph -->
<meta property="og:url" content="https://oilgasviz.herokuapp.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Largest oil and gas companies by revenue">
<meta property="og:image" content="http://andrewmontes.com/img/oilgasviz_social_share.png"/>
<meta property="og:description" content="Visualization of the largest oil and gas companies by revenue. All data scraped from Wikipedia.">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Largest oil and gas companies by revenue">
<meta name="twitter:description" content="Visualization of the largest oil and gas companies by revenue. All data scraped from Wikipedia.">
<meta name="twitter:image:src" content="http://andrewmontes.com/img/oilgasviz_social_share.png">

</head>
<body class="yellow lighten-4">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper yellow lighten-3 grey-text text-darken-4" id="ogapp-menu">
        <ul>
          <li class="nav-form-li">
            <form>
              <div class="input-field" id="type-select">
                <label class="grey-text text-darken-3" for="">Company Type:</label>
                <select>
                  <option value="All">All</option>
                  <option value="Public">Public</option>
                  <option value="Private/State-owned">Private/State-owned</option>
                </select>
              </div>               
            </form>            
          </li>
        </ul>
      </div>
    </nav>
  </div>  
    <h3 class="title">Largest oil and gas companies by revenue</h3>
  <div id="chart-holder" class="_dev">
    <div id="map" class="z-depth-1 yellow lighten-2">
      <div id="map-tooltip">
        <h5></h5>
        <p id="tooltip-stat"></p>
        <p id="tooltip-loc"></p>
      </div>
    </div>    
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div id="timeline" class="z-depth-1 yellow lighten-2">
            <div id="timeline-tooltip">
              <h6></h6>
            </div>
          </div>        
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div id="bar" class="z-depth-1 yellow lighten-2"></div>
        </div>
      </div>     
    </div>
  </div>
  <footer class="page-footer yellow darken-2">
    <div class="container">
      <h4>Data source</h4>
      <div class="row">
        <div class="col sm12">
          <p>All data comes from Wikipedia, scraped August 31, 2016.</p>
          <a class="waves-effect waves-light btn yellow lighten-2 grey-text text-darken-4" href="https://en.wikipedia.org/wiki/List_of_largest_oil_and_gas_companies_by_revenue" target="_blank">Wikipedia</a>
        </div>
      </div>
      <h4>Source code</h4>
      <div class="row">
        <div class="col l4 s12">
          <h5>scrapy_og</h5>
          <p>Scrapy spiders crawl Wikipedia to collect the raw data.</p>
          <a class="waves-effect waves-light btn yellow lighten-2 grey-text text-darken-4" href="https://github.com/andrewmontes87/scrapy_og" target="_blank">github</a>
        </div>
        <div class="col l4 s12">
          <h5>eve_og</h5>
          <p>Pandas cleans the data and preps it for MongoDB, while Eve provides a RESTful API.</p>
          <a class="waves-effect waves-light btn yellow lighten-2 grey-text text-darken-4" href="https://github.com/andrewmontes87/eve_og" target="_blank">github</a>
        </div>
        <div class="col l4 s12">
          <h5>flask_og</h5>
          <p>Flask serves a d3 + Materialize app that consumes the API and visualizes the data.</p>
          <a class="waves-effect waves-light btn yellow lighten-2 grey-text text-darken-4" href="https://github.com/andrewmontes87/flask_og" target="_blank">github</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text text-darken-4">
      © 2016 Andrew Montes
      <a class="grey-text text-darken-4 right" href="http://www.andrewmontes.com" target="_blank">andrewmontes.com</a>
      </div>
    </div>
  </footer>

  <script>
    // $EVE_API = {{ config.EVE_API|tojson|safe }};
  </script>
  <script src="static/js/app.min.js"></script>
</body>
</html>
