#timeline{
  position: relative;
  margin: 3em auto 1em auto;
  height:250px;
  width:100%;
}

.inception { fill: #434343; }
.inception:hover { fill: black; }

#timeline-tooltip {
  position: absolute;
  pointer-events: none;
  color: #eee;
  font-size: 12px;
  opacity: 0.8;
  background: #222;
  padding: 0px 20px;
  left: -999px;
  text-align: center;
  margin: 0px;
}