#type-select{
  li span {
    color: #434343;
  }
}

#ogapp-menu {

  label {
    padding-left: 1em;

  }
  .nav-form-li {
    width: 100%;
  }

  .select-wrapper input.select-dropdown{
    margin-left: 9em;
  }

  .caret {
    top:0px;
  }
}