
#map {
  position: relative;
  margin: 1em auto;
  width: 1000px;
  height: 500px;

}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #fff;
}

.boundary {
  fill:none;
  stroke: black;
  stroke-width: .5px;
}

.country {
  fill: rgb(175, 195, 186);
}
.country.active {
  fill: rgb(155, 175, 166);
}

.centroid {
  fill: #434343;
  fill-opacity: 0.3;
  /*pointer-events:none;*/
}
.centroid:active {
  fill:goldenrod;
  fill-opacity: 0.6;
}

#map-tooltip {
  position: absolute;
  pointer-events: none;
  color: #eee;
  font-size: 12px;
  opacity: 0.8;
  background: #222;
  padding: 0px 20px;
  left: -999px;
  text-align: center;
  margin: 0px;
}
